 <!-- Footer Area Start -->
 <footer class="asiq-footer-area">
    
    <div class="copyright-area">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="copyright-right">
                   <p>&copy; Copyright <a href="https://braintechsolution.com/" target="_blank">Brain Tech Solution</a> 2022. All rights reserved</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- Footer Area End -->  
 
<!-- Back To Top Start -->
<a href="#" class="back-to-top"><span class="fa fa-arrow-up"></span></a>
<!-- Back To Top End -->
 
 
 
 
<!--Jquery js-->
<script src="/public/assetsForLandingPage/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/public/assetsForLandingPage/js/popper.min.js"></script>
<!--Bootstrap js-->
<script src="/public/assetsForLandingPage/js/bootstrap.min.js"></script>
<!--Chosen js-->
<script src="/public/assetsForLandingPage/js/chosen.jquery.min.js"></script>
<!--Owl-Carousel js-->
<script src="/public/assetsForLandingPage/js/owl.carousel.min.js"></script>
<!--Slicknav js-->
<script src="/public/assetsForLandingPage/js/jquery.slicknav.min.js"></script>
<!--Magnific js-->
<script src="/public/assetsForLandingPage/js/jquery.magnific-popup.min.js"></script>
<!--Main js-->
<script src="/public/assetsForLandingPage/js/main.js"></script>