<!-- Header Area Start -->
<header class="asiq-header-area">
    <div class="container">
       <div class="header-main-area">
          <div class="row">
             <div class="col-lg-5 col-sm-12">
                <div class="site-logo">
                   <a href="/">
                   <img src="/public/assetsForLandingPage/img/Blog-BrainTechSolution_Logo_Black.png" alt="site logo" />
                   </a>
                </div>
                <!-- Responsive Menu Start -->
                <div class="asiq-responsive-menu"></div>
                <!-- Responsive Menu End -->
             </div>
             <div class="col-lg-5">
                <div class="mainmenu">
                   <nav>
                      <ul id="asiq_navigation">
                         <li><a href="/join-meeting">Join a meeting</a></li>
                         <!-- <li>
                            <a href="#">Host a meeting</a>
                            <ul>
                               <li class="submenu-parent">
                                  <a href="#">With Camera</a>
                                  <ul class="submenu">
                                     <li><a href="#">ON</a></li>
                                     <li><a href="#">OFF</a></li>
                                  </ul>
                               </li>
                               <li class="submenu-parent">
                                  <a href="#">With Audio</a>
                                  <ul class="submenu">
                                     <li><a href="#">ON</a></li>
                                     <li><a href="#">OFF</a></li>
                                  </ul>
                               </li>
                               <li>
                                  <a href="#">Screen Share only</a>
                               </li>
                            </ul>
                         </li> -->
                         <li><a href="/my-meetings">My Meetings</a></li>
                         <li><a href="/login">Sign In</a></li>
                      </ul>
                   </nav>
                </div>
             </div>
             <div class="col-lg-2">
                <div class="header-action">
                   <a href="/register ">Sign Up It's Free</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- Header Area End -->