<%- contentFor('HeaderCss') %>


<%- contentFor('body') %>
<!-- Slider Area Start -->
<section class="asiq-slider-area">
    <div class="asiq-slide owl-carousel">
       <div class="asiq-main-slide slide-item-1">
          <div class="asiq-main-caption">
             <div class="asiq-caption-cell">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slider-text">
                            <h2>More Than Just Meetings</h2>
                            <p>Engage new audiences, elevate customer experiences, and get more done together with our all-in-one communications platform.</p>
                            <a href="#" class="asiq-btn">Make a meeting <i class="fa fa-angle-double-right"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="asiq-main-slide slide-item-2">
          <div class="asiq-main-caption">
             <div class="asiq-caption-cell">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slider-text">
                            <h2>Enabling the Hybrid Workforce</h2>
                            <p>Explore how the Datasoft platform seamlessly brings together remote and in-person teams, for work that goes wherever you do.</p>
                            <a href="#" class="asiq-btn">Get Started <i class="fa fa-angle-double-right"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="slider-property-search">
       <div class="property-search-header">
          <h3>Start a Meeting now</h3>
       </div>
       <div class="property-search-body">
          <form method="post" action="/">
             <div class="row">
                <div class="col-md-12">
                   <p>
                      <input type="text" name="username" placeholder="Your Name" required>
                   </p>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <p>
                      <input type="email" name="useremail" placeholder="Your Email" required>
                   </p>
                </div>
             </div>
             <div class="row">
               <div class="col-md-12">
                  <p>
                     <input type="text" id="roomName" name="roomName" placeholder="Room Name" required>
                  </p>
               </div>
            </div>
             <div class="row">
               <div class="col-md-12">
                  <p>
                     <input type="password" name="roomPassword" placeholder="Password (Optional)">
                  </p>
               </div>
            </div>
             <!-- <div class="row">
                <div class="col-md-6">
                   <p>
                      <select data-placeholder="Type" class="chosen-select-no-single">
                         <option selected>Type</option>
                         <option>House</option>
                         <option>Industrial</option>
                         <option>Office</option>
                         <option>Villa</option>
                      </select>
                   </p>
                </div>
                <div class="col-md-6">
                   <p>
                      <select data-placeholder="Status" class="chosen-select-no-single">
                         <option selected>Status</option>
                         <option>Sale</option>
                         <option>Rent</option>
                      </select>
                   </p>
                </div>
             </div> -->
             <!-- <div class="row">
                <div class="col-md-6" style="padding-right: 1px;">
                   <p>
                      <input type="password" placeholder="Password (Optional)">
                   </p>
                </div>
                <div class="col-md-6" style="padding-left: 1px;">
                   <p>
                      <input type="password" placeholder="Confirm Password">
                   </p>
                </div>
             </div> -->
             <div class="row">
                <div class="col-md-12">
                   <div class="checkbox-property">
                     <p>
                        <input type="checkbox" id="check1" name="audioOn" value="1" onclick="checkClick(this.id)" checked/>
                        <label for="check1">
                        <span></span>Audio On
                        </label>
                     </p>
                      <p>
                         <input type="checkbox" id="check" name="cameraOn" value="1" onclick="checkClick(this.id)" checked/>
                         <label for="check">
                         <span></span>Camera On
                         </label>
                      </p>
                      <p>
                         <input type="checkbox" id="check2" name="screenShareOnly" value="0" onclick="checkClick(this.id)"/>
                         <label for="check2">
                         <span></span>Screen Share Only
                         </label>
                      </p>
                      <p>
                         <input type="checkbox" id="check3" name="openForAll" value="0" onclick="checkClick(this.id)" />
                         <label for="check3">
                         <span></span>Open for all
                         </label>
                      </p>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <p>
                      <button type="submit">Start</button>
                   </p>
                </div>
             </div>
          </form>
       </div>
    </div>
 </section>
 <!-- Slider Area End -->

<%- contentFor('FooterJs') %>
<script defer src="/public/js/newRoom.js"></script>
<script>
   document.getElementById('roomName').onkeyup = (e) => {
       if (e.keyCode === 13) {
           e.preventDefault();
           joinRoom();
       }
   };
   function joinRoom(e) {
      debugger;
      let roomName = document.getElementById('roomName').value;
      alert(roomName)
      window.location.href = '/join/' + roomName;
      return false;
   }

   function checkClick(id) {
      // Get the checkbox
      var checkBox = document.getElementById(id);
      // If the checkbox is checked, display the output text
      if (checkBox.checked == true){
         checkBox.value = "1";
      } else {
         checkBox.value = "0";
      }
   }
</script>



    